{% extends 'template.html' %} 

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock %}


{% block content %}
<div class="banner-wrapper">
  <img src="{{ url_for('static', filename='img/4a341-site_horarios_1200_2.png') }}" alt="horarios" />
</div>
<div class="about-container">
    <h2>Sobre a nossa fabrica</h2>
    <p>A fábrica de software da Unifacvest proporciona um ambiente de desenvolvimento de softwares, com o intuito de atender às demandas geradas pela comunidade. O desenvolvimento engloba ferramentas web, automação, banco de dados, análise de dados, ciência de dados e inteligência artificial. Além de desenvolvimento avançado, a fábrica conta com estudos dirigidos em python, banco de dados, análise de dados, ciências de dados e Inteligência Artificial. Os estudos são abertos gratuitamente à comunidade, como parte de nosso compromisso com o compartilhamento de conhecimento e a promoção do avanço tecnológico. Os encontros acontecem nas segundas e quintas-feiras das 13:30h as 17h, na Unifacvest-TECH.</p>

    <h3>Análise de Dados</h3>
    <p>A análise de dados é um processo fundamental para descobrir informações relevantes e extrair conhecimentos úteis a partir de conjuntos de dados. Através da aplicação de técnicas estatísticas, matemáticas e computacionais, é possível identificar padrões, tendências e relações ocultas nos dados. Essa análise sistemática permite tomar decisões embasadas, obter insights valiosos e promover a inovação em diversos setores, desde a ciência de dados e negócios até a pesquisa acadêmica e saúde.</p>

    <h3>Banco de Dados</h3>
    <p>Um banco de dados é uma estrutura organizada para armazenar e gerenciar informações relacionadas a um domínio específico. Ele consiste em conjuntos de dados inter-relacionados, que são coletados, organizados, armazenados e acessados por meio de um sistema de gerenciamento de banco de dados. A importância do banco de dados para as empresas é indiscutível. Ele serve como um repositório centralizado de informações vitais, permitindo o acesso rápido e confiável aos dados necessários para tomada de decisões estratégicas.</p>

    <h3>Ciência de Dados</h3>
    <p>A ciência de dados é uma disciplina que se dedica ao estudo e análise de dados com o objetivo de
    extrair insights relevantes para as organizações. Essa abordagem multidisciplinar combina princípios e práticas das áreas de matemática, estatística, inteligência artificial e engenharia da computação, permitindo a análise de grandes volumes de dados. Por meio dessa análise, os cientistas de dados buscam responder questões como o que aconteceu, por que aconteceu, o que acontecerá e quais ações podem ser tomadas com base nos resultados obtidos.</p>

    <h3>Inteligência Artificial</h3>
    <p>A inteligência artificial (IA) é um campo da ciência da computação que se dedica à resolução de problemas cognitivos, comumente associados à inteligência humana, como aprendizado, solução de problemas e reconhecimento de padrões. Apesar da associação da IA com robôs e cenários futuristas, seu escopo vai além da ficção científica, abrangendo a ciência da computação avançada no mundo real atual. A importância da IA é cada vez mais evidente na sociedade moderna. Ela oferece a capacidade de lidar com grandes volumes de dados de forma rápida e eficiente, permitindo a extração de insights valiosos e o desenvolvimento de soluções inovadoras.</p>

</div>
<div class="projects-title" >
    <h2>Projetos</h2>
</div>
<div class="projects-container dragscroll">
    {% for project in projects %}
        <div class="project-card" id="{{ project.id }}">
            <div class="project-image">
                <img src="{{ url_for('static', filename='img/' + project.image) }}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>{{ project.title }}</h3>
                <p>{{ project.about[0:200] }}...</p>
            </div>
        </div>

    {% endfor %}
</div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
