{% extends 'template.html' %} 

{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'css/projects.css' %}" />
{% endblock %} 


{% block content %}
<div class="projects-wrapper">
    <div class="project-card" id="1" >
        <div class="project-image">
            <img src="{% static 'img/pexels-pixabay-73910.jpg' %}" alt="horarios" />
        </div>
        <div class="project-description">
            <h3>Mart-robot</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet quas libero ipsum nesciunt recusandae cupiditate quod labore quos! Commodi voluptatum in cupiditate doloremque fugiat ex, repellat atque necessitatibus error.</p>
        </div>
    </div>
    <div class="project-card" id="2" >
        <div class="project-image">
            <img src="{% static 'img/pexels-pixabay-73910.jpg' %}" alt="horarios" />
        </div>
        <div class="project-description">
            <h3>Mart-robot</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet quas libero ipsum nesciunt recusandae cupiditate quod labore quos! Commodi voluptatum in cupiditate doloremque fugiat ex, repellat atque necessitatibus error.</p>
        </div>
    </div>
    <div class="project-card">
        <div class="project-image">
            <img src="{% static 'img/pexels-pixabay-73910.jpg' %}" alt="horarios" />
        </div>
        <div class="project-description">
            <h3>Mart-robot</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet quas libero ipsum nesciunt recusandae cupiditate quod labore quos! Commodi voluptatum in cupiditate doloremque fugiat ex, repellat atque necessitatibus error.</p>
        </div>
    </div>
    <div class="project-card">
        <div class="project-image">
            <img src="{% static 'img/pexels-pixabay-73910.jpg' %}" alt="horarios" />
        </div>
        <div class="project-description">
            <h3>Mart-robot</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet quas libero ipsum nesciunt recusandae cupiditate quod labore quos! Commodi voluptatum in cupiditate doloremque fugiat ex, repellat atque necessitatibus error.</p>
        </div>
    </div>
    <div class="project-card">
        <div class="project-image">
            <img src="{% static 'img/pexels-pixabay-73910.jpg' %}" alt="horarios" />
        </div>
        <div class="project-description">
            <h3>Mart-robot</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet quas libero ipsum nesciunt recusandae cupiditate quod labore quos! Commodi voluptatum in cupiditate doloremque fugiat ex, repellat atque necessitatibus error.</p>
        </div>
    </div>
    <div class="project-card">
        <div class="project-image">
            <img src="{% static 'img/pexels-pixabay-73910.jpg' %}" alt="horarios" />
        </div>
        <div class="project-description">
            <h3>Mart-robot</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet quas libero ipsum nesciunt recusandae cupiditate quod labore quos! Commodi voluptatum in cupiditate doloremque fugiat ex, repellat atque necessitatibus error.</p>
        </div>
    </div>
    <div class="project-card">
        <div class="project-image">
            <img src="{% static 'img/pexels-pixabay-73910.jpg' %}" alt="horarios" />
        </div>
        <div class="project-description">
            <h3>Mart-robot</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet quas libero ipsum nesciunt recusandae cupiditate quod labore quos! Commodi voluptatum in cupiditate doloremque fugiat ex, repellat atque necessitatibus error.</p>
        </div>
    </div>
    <div class="project-card">
        <div class="project-image">
            <img src="{% static 'img/pexels-pixabay-73910.jpg' %}" alt="horarios" />
        </div>
        <div class="project-description">
            <h3>Mart-robot</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet quas libero ipsum nesciunt recusandae cupiditate quod labore quos! Commodi voluptatum in cupiditate doloremque fugiat ex, repellat atque necessitatibus error.</p>
        </div>
    </div>
    <div class="project-card">
        <div class="project-image">
            <img src="{% static 'img/pexels-pixabay-73910.jpg' %}" alt="horarios" />
        </div>
        <div class="project-description">
            <h3>Mart-robot</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet quas libero ipsum nesciunt recusandae cupiditate quod labore quos! Commodi voluptatum in cupiditate doloremque fugiat ex, repellat atque necessitatibus error.</p>
        </div>
    </div>
    <div class="project-card">
        <div class="project-image">
            <img src="{% static 'img/pexels-pixabay-73910.jpg' %}" alt="horarios" />
        </div>
        <div class="project-description">
            <h3>Mart-robot</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet quas libero ipsum nesciunt recusandae cupiditate quod labore quos! Commodi voluptatum in cupiditate doloremque fugiat ex, repellat atque necessitatibus error.</p>
        </div>
    </div>
    <div class="project-card">
        <div class="project-image">
            <img src="{% static 'img/pexels-pixabay-73910.jpg' %}" alt="horarios" />
        </div>
        <div class="project-description">
            <h3>Mart-robot</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet quas libero ipsum nesciunt recusandae cupiditate quod labore quos! Commodi voluptatum in cupiditate doloremque fugiat ex, repellat atque necessitatibus error.</p>
        </div>
    </div>
    <div class="project-card">
        <div class="project-image">
            <img src="{% static 'img/pexels-pixabay-73910.jpg' %}" alt="horarios" />
        </div>
        <div class="project-description">
            <h3>Mart-robot</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet quas libero ipsum nesciunt recusandae cupiditate quod labore quos! Commodi voluptatum in cupiditate doloremque fugiat ex, repellat atque necessitatibus error.</p>
        </div>
    </div>
    <div class="project-card">
        <div class="project-image">
            <img src="{% static 'img/pexels-pixabay-73910.jpg' %}" alt="horarios" />
        </div>
        <div class="project-description">
            <h3>Mart-robot</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet quas libero ipsum nesciunt recusandae cupiditate quod labore quos! Commodi voluptatum in cupiditate doloremque fugiat ex, repellat atque necessitatibus error.</p>
        </div>
    </div>
    <div class="project-card">
        <div class="project-image">
            <img src="{% static 'img/pexels-pixabay-73910.jpg' %}" alt="horarios" />
        </div>
        <div class="project-description">
            <h3>Mart-robot</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet quas libero ipsum nesciunt recusandae cupiditate quod labore quos! Commodi voluptatum in cupiditate doloremque fugiat ex, repellat atque necessitatibus error.</p>
        </div>
    </div>
    
</div>
{% endblock %} 

{% block js %}
    <script src="{% static 'js/projects.js' %}"></script>
{% endblock %}