{% extends 'template.html' %} 

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}" />
{% endblock %} 


{% block content %}
<div class="banner-wrapper">
    <img src="{{ url_for('static', filename='img/' + project.image) }}" alt="horarios" />
    <div class="title-container" >
        <h1>{{ project.title }}</h1>
    </div>
</div>
<div class="about-container">
    <p>{{ project.about }}</p>
</div>
<div class="project-person" >
    <div class="person-title-container" >
        <h2>Responsaveis</h2>
    </div>
    <div class="person-avatar-container">
        {% for student in project.students %}
           <div class="person-avatar" id="{{ student.id }}" >
                <div class="person-img">
                    <img src="{{ url_for('static', filename='img/' + student.image) }}" alt="avatar" />
                </div>
                <h3>{{ student.name }}</h3>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/project.js') }}"></script>
{% endblock %}