{% extends 'template.html' %} 

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}" />
{% endblock %} 


{% block content %}
<div class="projects-wrapper">
    {% for project in projects %}
        <div class="project-card" id="{{ project.id }}" >
            <div class="project-image">
                <img src="{{ url_for('static', filename='img/' + project.image) }}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>{{ project.title }}</h3>
                <p>{{ project.about[0:200] }}...</p>
            </div>
        </div>
    {%  endfor %}
</div>
{% endblock %} 

{% block js %}
    <script src="{{ url_for('static', filename='js/projects.js') }}"></script>
{% endblock %}