{% extends 'template.html' %} 

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}" />
{% endblock %} 


{% block content %}
<div class="portfolio-wrapper" >
    <div class="portfolio-avatar" >
        <img src="{{ url_for('static', filename='img/' + student.image) }}" alt="horarios" />
    </div>
    <div class="portfolio-about" >
        <h2>{{ student.name }}</h2>
        <h3>{{ student.office }}</h3>
        <p class="email" >{{ student.email }}</p>
        <p class="phone" >{{ student.phone }}</p>
        <p class="about" >{{ student.about }}</p>
    </div>
</div>
<div class="projects-wrapper">
    <div class="projects-content" >
        <div class="projects-title">
            <h2>Projetos</h2>
        </div>
        <div class="projects-cards" >
            {% for project in student.projects %}
                <div class="project-card" id="{{ project.id }}" >
                    <div class="project-image">
                        <img src="{{ url_for('static', filename='img/' + project.image) }}" alt="horarios" />
                    </div>
                    <div class="project-description">
                        <h3>{{ project.title }}t</h3>
                        <p>{{ project.about[0:200] }}...</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/student.js') }}"></script>
{% endblock %}