{% extends 'template.html' %} 


{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/students.css') }}" />
{% endblock %} 


{% block content %}
    <div class="portfolios-wrapper" >
        <div class="project-card">
            <div class="project-image">
                <img src="{{ url_for('static', filename='img/pexels-hasibullah-zhowandai-819530.jpg') }}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{{ url_for('static', filename='img/pexels-hasibullah-zhowandai-819530.jpg') }}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{{ url_for('static', filename='img/pexels-hasibullah-zhowandai-819530.jpg') }}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{{ url_for('static', filename='img/pexels-hasibullah-zhowandai-819530.jpg') }}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{{ url_for('static', filename='img/pexels-hasibullah-zhowandai-819530.jpg') }}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{{ url_for('static', filename='img/pexels-hasibullah-zhowandai-819530.jpg') }}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{{ url_for('static', filename='img/pexels-hasibullah-zhowandai-819530.jpg') }}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{{ url_for('static', filename='img/pexels-hasibullah-zhowandai-819530.jpg') }}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{{ url_for('static', filename='img/pexels-hasibullah-zhowandai-819530.jpg') }}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{{ url_for('static', filename='img/pexels-hasibullah-zhowandai-819530.jpg') }}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{{ url_for('static', filename='img/pexels-hasibullah-zhowandai-819530.jpg') }}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{{ url_for('static', filename='img/pexels-hasibullah-zhowandai-819530.jpg') }}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card" id="50">
            <div class="project-image">
                <img src="{{ url_for('static', filename='img/pexels-hasibullah-zhowandai-819530.jpg') }}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/students.js') }}"></script>
{% endblock %}