{% extends 'template.html' %} 

{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'css/students.css' %}" />
{% endblock %} 


{% block content %}
    <div class="portfolios-wrapper" >
        <div class="project-card">
            <div class="project-image">
                <img src="{% static 'img/pexels-hasibullah-zhowandai-819530.jpg' %}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{% static 'img/pexels-hasibullah-zhowandai-819530.jpg' %}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{% static 'img/pexels-hasibullah-zhowandai-819530.jpg' %}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{% static 'img/pexels-hasibullah-zhowandai-819530.jpg' %}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{% static 'img/pexels-hasibullah-zhowandai-819530.jpg' %}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{% static 'img/pexels-hasibullah-zhowandai-819530.jpg' %}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{% static 'img/pexels-hasibullah-zhowandai-819530.jpg' %}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{% static 'img/pexels-hasibullah-zhowandai-819530.jpg' %}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{% static 'img/pexels-hasibullah-zhowandai-819530.jpg' %}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{% static 'img/pexels-hasibullah-zhowandai-819530.jpg' %}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{% static 'img/pexels-hasibullah-zhowandai-819530.jpg' %}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{% static 'img/pexels-hasibullah-zhowandai-819530.jpg' %}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{% static 'img/pexels-hasibullah-zhowandai-819530.jpg' %}" alt="horarios" />
            </div>
            <div class="project-description">
                <h3>Murilo Abreu</h3>
                <p>Desenvolvedor Full-Stack</p>
                <p>murilo@gmail.com</p>
                <p>(47) 9 92024645</p>
            </div>
        </div>
        
    </div>
{% endblock %} 