{#{% load static %}#}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block title %}
    <title>Fábrica de Software - Unifacvest</title>
    {% endblock %}

    <!-- Font of Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS default -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}" />

    {% block css %}

    {% endblock %}
  </head>
  <body>
    <header class="header-container">
      <div class="header-mobile-section-icons">
        <a href="https://www.facebook.com/CentroUniversitarioUnifacvest" target="_blank">
            <img src="{{ url_for('static', filename='img/facebook.png') }}" alt="unifacvest" />
          </a>
          <a href="https://twitter.com/UNIFACVESTPLAY" target="_blank">
            <img src="{{ url_for('static', filename='img/twitter.png') }}" alt="unifacvest" />
          </a>
          <a href="https://www.instagram.com/unifacvestplay" target="_blank">
            <img src="{{ url_for('static', filename='img/instagram.png') }}" alt="unifacvest" />
          </a>
          <a href="https://www.youtube.com/channel/UCFWHKim0mysvaDrwBIM5NIA" target="_blank">
            <img src="{{ url_for('static', filename='img/youtube.png') }}" alt="unifacvest" />
          </a>
          <a href="https://web.whatsapp.com/send?phone=554932254114" target="_blank">
            <img src="{{ url_for('static', filename='img/whatsapp.png') }}" alt="unifacvest" />
          </a>
          <a href="https://open.spotify.com/show/5VQBdaklhIoCHRKtr6nEb2" target="_blank">
            <img src="{{ url_for('static', filename='img/spotify.png') }}" alt="unifacvest" />
          </a>
      </div>

      <div class="header-address-section">
        <p>
            R. Cândido Ramos, 688 - Centro - CEP 88501-203 - Lages / SC -
          <a href="#">(49) 3225-4114</a>
        </p>
      </div>

      <div class="navbar-main">
          <a href="/" >
              <img src="{{ url_for('static', filename='img/logo-header.jpeg') }}" alt="unifacvest" />
          </a>

        <nav>
          <a href="/">Inicio</a>
          <a href="/projects/">Projetos</a>
          <a href="/students/">Alunos</a>
          <a href="/responsible/">Responsaveis</a>
          <a href="/contact/">Contato</a>
        </nav>
      </div>

      <div class="shortcut-links-container">
          <a href="https://www.facebook.com/CentroUniversitarioUnifacvest" target="_blank">
            <img src="{{ url_for('static', filename='img/facebook.png') }}" alt="unifacvest" />
          </a>
          <a href="https://twitter.com/UNIFACVESTPLAY" target="_blank">
            <img src="{{ url_for('static', filename='img/twitter.png') }}" alt="unifacvest" />
          </a>
          <a href="https://www.instagram.com/unifacvestplay" target="_blank">
            <img src="{{ url_for('static', filename='img/instagram.png') }}" alt="unifacvest" />
          </a>
          <a href="https://www.youtube.com/channel/UCFWHKim0mysvaDrwBIM5NIA" target="_blank">
            <img src="{{ url_for('static', filename='img/youtube.png') }}" alt="unifacvest" />
          </a>
          <a href="https://web.whatsapp.com/send?phone=554932254114" target="_blank">
            <img src="{{ url_for('static', filename='img/whatsapp.png') }}" alt="unifacvest" />
          </a>
          <a href="https://open.spotify.com/show/5VQBdaklhIoCHRKtr6nEb2" target="_blank">
            <img src="{{ url_for('static', filename='img/spotify.png') }}" alt="unifacvest" />
          </a>
      </div>
        <div class="mobile-nav-wrapper mobile-nav-wrapper-open" >
            <div class="action">
                 <div>
                    <span>MENU</span>
                </div>
                <div class="menu-btn" >
                    <img src="{{ url_for('static', filename='img/menu.svg') }}" alt="unifacvest" />
                </div>
            </div>
            <div class="nav-bar-mobile-items-container" >

            </div>

        </div>
    </header>

    {% block content %}
    <div style="width: 100vw; height: 700px"></div>
    {% endblock %}

    <div class="footer-wrapper">
      <div class="footer-section">
        <img class="footer-logo" src="{{ url_for('static', filename='img/logo-header.jpeg') }}" alt="unifacvest" />
        <p>
          Estar entre as melhores universidade privadas do Brasil nos motiva e
          desafia a oferecer serviços de excelência com responsabilidade social.
        </p>
      </div>
      <div class="footer-section">
        <h2>ENTRE EM CONTATO</h2>
        <p>(49) 3225-4114</p>
        <p>R. Cândido Ramos, 688 - Centro - CEP 88501-203 - Lages / SC</p>
      </div>
      <div class="footer-section">
        <h2>LINKS UNIFACVEST CARE</h2>
          <a href="https://bit.ly/3brRbe0" target="_blank" ><p>Campus Central Unifacvest (49) 3225-4114</p></a>
          <a href="https://bit.ly/3uQAr7E" target="_blank" ><p>Clínica Odontológica (49) 3018-7014</p></a>
          <a href="https://bit.ly/34tjR28" target="_blank" ><p>Clínica Radiológica (49) 99184-4662</p></a>
          <a href="https://bit.ly/3uSyesv" target="_blank" ><p>Clínica de Fisioterapia (49) 3018-1444</p></a>
          <a href="https://bit.ly/2QjMOu9" target="_blank" ><p>Clínica Veterinária (49) 3018-7812</p></a>
          <a href="https://bit.ly/3uQauoL" target="_blank" ><p>Clínica de Nutrição (49) 3380-9530</p></a>
          <a href="https://api.whatsapp.com/send?phone=5549991948132&text=Ol%C3%A1%2C%20gostaria%20de%20atendimento%20Jur%C3%ADdico%2FPsicol%C3%B3gico%20" target="_blank" ><p>Cidadania (49) 99194-8132 (Jurídico e Psicológico)</p></a>
          <a href="https://bit.ly/3oNRrtb" target="_blank" ><p>Unifacvest Card Interativo</p></a>
      </div>
    </div>
    <div class="footer-line">
      <p>
        Centro Universitário Unifacvest © 2023 - Todos os direitos reservados.
      </p>
    </div>

    <!-- JS default -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dragscroll/0.0.8/dragscroll.min.js"></script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
    {% block js %}

    {% endblock %}
  </body>
</html>
